.card-container {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    padding: .6rem 1.2rem;
}

.google-link {
    font-size: 10.2px;
    color: #918E9B;
    text-decoration: underline;
}

.card-pic {
    display: flex;
    flex-grow: 2;
}

.card-img {
    height: 168px;
    border-radius: 5px;
}

.card-description {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    padding: .6rem;
}

.location-container {
    display: flex;
    
    align-items: center;

}

.country {
    font-size: 10.2px;
    letter-spacing: 0.7px;
    font-weight: normal;
    padding-left: .2rem;
    padding-right: .5rem;
}

.travel-dates {
    display: flex;
    font-size: 10.2px;
    font-weight: bold;
    margin-block: 0 .4rem;
}

.card-impression {
    font-size: 10.2px;
    line-height: 150%;
    
}

.card-title {
    margin-bottom: .6rem;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: bold;
}




